<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Helping Helpers</title>
</head>
<body>
    <div class="container">
        <div class="dashboard">
            <div class="d-flex mt-4">
                <h4 class="mr-auto p-2">{{user.first_name}}, here are your posts:</h4>
                <a href="/dashboard" class="btn btn-link">Dashboard</a>
                <a href="/messages" class="btn btn-link">Messages</a>
                <a href="/resources" class="btn btn-link">Resources</a>
                <a href="/logout" class="btn btn-link">Logout</a>
            </div>
            <div class="helping_helpers">
                <h2>Helping Helpers</h2>
                <h3>A Supportive Community for Healthcare Professionals</h3>
            </div>
            <img src="/static/rocks.jpeg" alt="rock_photo" class="photo">
            <a href="/new_post" class="btn btn-outline-info mt-4">Create a Post</a>
        </div>
        <table class="table table-striped m-4" method="post">
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{post.title}}</td>
                    <td>{{post.content}}</td>
                    <td>
                        <a href="/edit_post/{{post.id}}">Edit</a> |
                        <a href="/delete_post/{{post.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="copyright">ⓒ Copyright- Helping Helpers</p>
    </div>
</body>
</html>