<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helping Helpers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="dashboard">
                <div class="d-flex m-4 justify-content-end">
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="/about">About Us</a>
                    <a class="navbar-brand" href="/contact">Contact Us</a>
                </div>
                <div class="helping_helpers">
                    <h2>Helping Helpers</h2>
                    <h3>A Supportive Community for Healthcare Professionals</h3>
                </div>
                <img src="/static/main_photo.jpeg" alt="main_photo" class="photo">
            </div>
        <div class="contact_us">
            <h2>Questions, Comments, Concerns, or Observations?</h2>
            <a href="mailto:info@helpinghelpers.com">Click Here to send us a message!</a>
        </div>
        <br>
        <p class="copyright">ⓒ Copyright- Helping Helpers</p>
    </div>