<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Helping Helpers</title>
</head>
<body>
    <div class="container">
        <div class="dashboard">
            <div class="d-flex mt-4">
                <h4 class="mr-auto p-2">Hi, {{user.first_name}}!</h4>
                <a href="/dashboard" class="btn btn-link">Dashboard</a>
                <a href="/messages" class="btn btn-link">Messages</a>
                <a href="/resources" class="btn btn-link">Resources</a>
                <a href="/logout" class="btn btn-link">Logout</a>
            </div>
            <div class="helping_helpers">
                <h2>Helping Helpers</h2>
                <h3>A Supportive Community for Healthcare Professionals</h3>
            </div>
            <img src="/static/rocks.jpeg" alt="rock_photo" class="photo">
        </div>
        <div class="left_side mt-4">
            <p>Title: {{post.title}}</p>
            <p>Posted by : {{post.owner.first_name}} {{post.owner.last_name}}</p>
            <p>Whose occupation is: {{post.owner.occupation}}</p>
            <hr class="bg-primary">
            <p>{{post.content}}</p>
            {% for comment in all %}
                <p>{{comment.content}}</p>
            {% endfor %}
            <form action="/comment/{{post.id}}" method="post">
                <div class="form-group mt-4">
                    <label for="content">Comment:</label>
                    <input type="text" name="content" class="form-control">
                </div>
                <button class="btn btn-primary mt-3">Comment</button>
            </form>
            <h3>Can you relate?</h3>
            <a href="/messages">Send them a Message!</a>
        </div>
    </div>
    <p class="copyright">ⓒ Copyright- Helping Helpers</p>
</body>
</html>